
<div class="d-flex justify-content-center align-items-center" *ngIf="!pokemons ; else divCard">
    <p-progressSpinner></p-progressSpinner>
</div>

<ng-template #divCard>
    <app-card [pokemons]="pokemons"></app-card>
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item"><button  [disabled]="offSet== 0" class="page-link" (click)="goBack()">Previous</button></li>
        <li class="page-item"><button  class="page-link" (click)="goNext()">Next</button></li>
    </ul>
</ng-template>
  